.c-accordion {
    padding-bottom: 60px;
    &__item {
        padding-bottom: 14px;
        @include media($s) {
            padding-bottom: 18px;
        }
    }
    .c-accordion__section-heading {
        &:not(:first-child) {
          padding-top: 40px;

          @include media($s) {
            padding-top: 60px;
          }
        }
    }
    &__title {
        display: flex;
        position: relative;
        color: $dark;
        background-color: $white;
        padding: 15px 33px 15px 15px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        @include media($s) {
            font-size: 25px;
            padding: 20px 30px;
        }
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            width: 26px;
            height: 26px;
            overflow: hidden;
            transition: transform .4s ease;
            &:before, &:after  {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $dark;
                left: 0;
                top: 50%;
                position: absolute;
                transition: transform .4s ease;
            }
            &:before {
                transform: translateY(-50%);
            }
            &:after {
                transform: rotate(90deg);
            }
            @include media($s) {
                width: 26px;
                height: 26px;
                right: 18px;

                &:before, &:after {
                    height: 2px;
                }

            }
        }
        [data-color-brand="red"] &,
        [data-color-brand="blue"] & {
            &.brand--color-white {
                span:before,
                span:after {
                    background-color: $white;
                }
            }
        }
        .c-accordion__item.active & {
            span {
                &:before, &:after {
                    transition: transform .4s ease;
                }
                &:before {
                    transform: rotate(-45deg)
                }
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__inner {
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        .btn {
            background-color: #e6e6e4;
            margin-left: 30px;
            margin-bottom: 55px;
            margin-top: 5px;
            @include media(max-width $s) {
                padding: 12px 50px;
                margin-left: 15px;
                margin-bottom: 40px;
            }
        }
        > div {
            margin: 20px 15px;
            @include media($s) {
                margin: 20px 30px;

            }
        }
    }
    &_faq {
        .c-accordion__title {
            &:before {
                content: 'Q:';
                display: inline;
                margin-right: 6px;
                font-size: 16px;
                @include media($s) {
                    margin-right: 15px;
                    font-size: 25px;
                }
            }
        }
        .c-accordion__article{
            display: flex;

            p {
                margin: 0;
                padding-bottom: 1em;

                @include media(max-width $s) {
                    font-size: 16px;
                    line-height: normal;
                }
            }
            &:before {
                content: 'A:';
                display: inline-block;
                margin-right: 6px;
                font-size: 16px;
                @include media($s) {
                    margin-right: 15px;
                    font-size: 25px;
                }
            }
        }
    }

    &.has-footer {
      padding-bottom: 10px;
    }

    &__footer-text {
      margin-bottom: 60px;

      a {
        font-weight: 600;
      }
    }
}
