.breadcrumb-link {
	background-color: $dark;
	height: 40px;

	@include media($s) {
		border-top: 1px solid #e1e1e1;
		background-color: #eeeeee;
		height: 50px;
	}
	.content {
		display: flex;
		justify-content: center;
		height: 100%;
		@include media($s) {
			justify-content: space-between;
		}
	}
	&__inner {
		align-self: center;
		color: $grey-dark;
		display: none;
		@include media($s) {
			display: block;
		}
		a {
			font-size: 15px;
			color: $grey-dark;
			padding-right: 5px;
			font-family:  $def;
			span {
				text-transform: capitalize;
			}
		}
		.current-item {
			font-weight: $proxima-b;
			color: $dark;
		}
		.error404 & {
			//visibility: hidden;
		}
	}
	&__note {
		position: relative;
		overflow: hidden;
		width: 300px;
		@include media($xs) {
			width: 410px;
		}
		.swiper-container {
			overflow: hidden;
			margin: auto;
			width: 85%;
			//@include media(max-width $xs - 1px) {
			//	max-width: 230px;
			//	//max-width: 345px;
			//}
		}
		.swiper-slide {
			text-align: center;
			p {
				font-weight: $proxima-b;
				font-size: 10px;
				color: $white;
				margin: 15px;
				@include media($s) {
					font-size: 15px;
					color: $dark;
				}
			}
			a {
				text-decoration: underline;
				font-weight: normal;
				font-size: 10px;
				color: $white;
				@include media($s) {
					font-size: 15px;
					color: $dark;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.swiper-arrow {
			width: 16px;
			height: 20px;
			top: 50%;
			@include media(max-width $s + 1) {
				.s0, svg path, svg circle, svg polyline, svg line  {
					stroke: $white;
				}
			}
			&.swiper-arrow_prev {
				left: -15px;
				@include media($xs) {
				    left: -10px;
				}
			}
			&.swiper-arrow_next {
				right: 0;
				@include media($xs) {
				    right: 10px;
				}

			}
		}
	}
}