.btn {
	background-color: $white;
	padding: 17px 25px 16px;
	font-weight: $proxima-b;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	min-width: 220px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	transition: background-color .4s ease-in-out 0s;
	@include media($s) {
		font-size: 15px;
	}
	span {
		display: block;
	}
	&:hover {
		span {
			animation: .4s cubic-bezier(.19,1,.22,1) normal forwards;
			animation-name: slideRight;
		}
	}
}

.link {
	position: relative;
	padding: 0 25px;
	//overflow: hidden;
	&__hover {
		bottom: -11px;
		left: 50%;
		//right: 0;
		position: absolute;
		width: 90%;
		height: 11px;
		transform: skew(-35deg) translate(-50%, 0);
		transition: bottom .4s ease-in-out 0s, width .4s ease-in-out 0s;
	}
	@include media($s) {
		&:hover, &.active, &.current_page_item {
			.link__hover {
				//width: 90%;
				bottom: 0;
				//right: 10px;
			}
		}
	}
}

@keyframes slideRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	49% {
		opacity: 0;
		transform: translateX(100%);
	}
	50% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}