.card {
	max-width: 290px;
	height: 390px;
	position: relative;
	cursor: pointer;
	.lightbox & {
		width: 100%;
		height: 100%;
		max-width: none;
	}
	.image-gallery & {
		box-sizing: content-box;
		padding: 0 17px;
	}
	&__vr {
		height: 80%;
		// #watermark img {
		// 	display: none;
		// }
		// .webvr-button {
		// 	display: none;
		// }
		.vr-pano {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}
	}
	&__image {
		height: 80%;
		box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
		.lightbox & {
			box-shadow:none;
		}
	}
	&__caption {
		font-family: $def;
		font-weight: 600;
		color: $dark;
		font-size: 18px;
		padding: 15px 0;
		text-transform: uppercase;
		.lightbox & {
			color: #fff;
			text-align: center;
			font-size: 30px;
		}
	}
	&__subcaption {
		display: block;
		font-size: 15px;
		font-weight: 400;
		text-transform: initial;
	}
}