.featured-products {
	padding: 45px 0;
	//display: flex;
	//flex-flow: row wrap;
	//justify-content: space-between;
	//box-sizing: content-box;
	@include media(max-width $s - 1px) {
		overflow: hidden;
	}
	@include media($xs) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		box-sizing: content-box;
	}
	@include media($l) {
		height: 470px;
	}
	.collection-wrap_search & {
		height: auto;
	}
	&_simple {
		padding-top: 23px;
		padding-bottom: 64px;
		@include media($xs) {
			padding-bottom: 64px;
		}
	}
	&__item {
		padding: 25px 10px;
		box-shadow: 0 0 12px -2px rgba(0,0,0,0);
		transition: box-shadow .1s ease-in-out 0s, height .3s ease-in-out 0s;
		background-color: $white;
		align-self: flex-start;
		box-sizing: border-box;
		//height: 373px;
		//align-self: baseline;
		//flex: 0 0 45%;
		//max-width: 45%;
		@include media($xs) {
			flex: 0 0 45%;
			//padding: 25px 10px;
		}
		@include media($l) {
			flex: 0 0 22%;
			max-width: 25%;
			height: 470px;
			margin-bottom: 50px;
		}
		&.default {
			.featured-product__img {
				margin-bottom: 70px;
			}
		}
		.featured-product__link-img {
			min-height: 200px;
			display: block;
			position: relative;
			margin: 0 auto 45px;
		}
		.featured-product__img {
			display: block;
			opacity: 1;
			transition: opacity .2s ease 0s;
			@include center(absolute, both);
			max-height: 100%;
			max-width: 100%;
			// @include media($l) {
			// 	max-width: 100%;
			// }
			&.hide {
				opacity: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		@include media($l) {
			&:hover:not(.default) {
				//height: 445px;
			}
			&:hover {
				//box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
				z-index: 1;
				box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
				transition: box-shadow .3s ease-in-out .1s, height .3s ease-in-out .1s;
				.color {
					opacity: 0;
					visibility: hidden;
				}
				.featured-products__variant {
					opacity: 1;
					visibility: visible;
					height: 70px;
					transition: opacity .3s ease-in-out .1s, visibility .3s ease-in-out .1s, height .3s ease-in-out .1s;
				}
			}
		}
		&.hidden {
			display: none;
		}
	}
	&__body {
		padding-bottom: 7px;
		overflow: hidden;
		min-height: 23px;
		.color, .width {
			font-size: 15px;
			color: $grey-dark;
		}
		.color {
			opacity: 1;
			visibility: visible;
			transition: opacity .2s ease-in-out 0s, visibility .2s ease-in-out 0s;
		}
		.width {
			position: relative;
			padding-left: 40px;
			float: right;
			cursor: pointer;
			display: none;
			@include media($l) {
				display: block;
			}
			&:before {
				content: '';
				background-image: url(../media/additional-widths.png);
				width: 35px;
				height: 11px;
				left: 0;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		// variant slider //
		.featured-products__variant {
			overflow: hidden;
			position: relative;
			opacity: 0;
			visibility: hidden;
			height: 0;
			transition: opacity .2s ease-in-out 0s, visibility .2s ease-in-out 0s, height .3s ease  .0s;
		}
		.swiper-container {
			margin: auto;
			overflow: hidden;
			max-width: 145px;
			@include media(1120px) {
				max-width: 210px;
			}
		}
		[data-brand-color="yellow"] {
			.swiper-slide:after {
				background-color: $yellow;
			}
		}
		[data-brand-color="red"] {
			.swiper-slide:after {
				background-color: $red;
			}
		}
		[data-brand-color="blue"] {
			.swiper-slide:after {
				background-color: $blue;
			}
		}
		.swiper-wrapper {
			padding-bottom: 15px;
			justify-content: center;
		}
		.swiper-slide {
			max-width: 65px;
			max-width: 29%;
			height: 55px !important;
			border: 1px solid $grey-dark;
			cursor: pointer;
			a {
				display: inline-block;
				overflow: hidden;
				width: 100%;
				height: 100%;
				position: relative;
			}
			img {
				@include center(absolute, both);
				height: 100%;
				width: auto;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: -6px;
				left: -1px;
				right: -1px;
				height: 4px;
				background-color: $dark;
				opacity: 0;
				transition: opacity .4s ease 0s;
			}
			&:hover:after {
				opacity: 1;
			}
			&.swiper-slide_default {
				margin-right: 7px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.swiper-slide.active {
			&:after {
				background-color: $dark !important;
				opacity: 1;
			}
		}
		.swiper-arrow {
			width: 10px;
			height: 20px;
			&_prev {
				left: 0;
			}
			&_next {
				right: 10px;
			}
		}
		// end variant slider //
	}
	&__title {
		border-top: 1px solid $grey-dark;
		font-weight: $proxima-b;
		font-size: 18px;
		color: $dark;
		text-transform: uppercase;
		padding-top: 14px;
		//@include media($xs) {
		//	font-size: 18px;
		//}
		@include media($s) {
			padding-top: 8px;
		}
	}
	&__cat {
		text-transform: capitalize;
		color: $dark;
		font-size: 15px;
		margin: 0;
		//@include media($xs) {
		//	font-size: 15px;
		//}
	}
	&__footer {
		padding-top: 20px;
		//@include media(325px) {
		//	display: flex;
		//	justify-content: space-between;
		//}
		> span {
			font-weight: $proxima-b;
			font-size: 18px;
			//margin-bottom: 5px;
			//display: block;
			//@include media($xs) {
			//	margin-bottom: 0;
			//	font-size: 18px;
			//}
		}
	}
}
.stamped-badge {
	.fa {
		&:before {
			content: '' !important;
			display: inline-block;
		}
		&.fa-star:before {
			background-image: url(../media/star.svg);
			width: 15px;
			height: 15px;
			//@include media($xs) {
			//	width: 15px;
			//	height: 15px;
			//}
		}
		&.fa-star-o:before {
			background-image: url(../media/star-empty.svg);
			width: 15px;
			height: 15px;
			//@include media($xs) {
			//	width: 15px;
			//	height: 15px;
			//}
		}
		&.fa-star-half-o:before {
			background-image: url(../media/star-half.svg);
			width: 15px;
			height: 15px;
			//@include media($xs) {
			//	width: 15px;
			//	height: 15px;
			//}
		}
		&.fa-star-checked:before {
			background-image: url(../media/star.svg);
		}
	}
	.stamped-badge-caption {
		font-size: 15px !important;
		color: $grey-dark;
		font-weight: normal !important;
		position: relative;
		top: -1px;
		//@include media($xs) {
		//	font-size: 15px !important;
		//}
		&:before {
			content: '\002F';
			display: inline-block;
			font-size: 15px;
			color: $grey-dark;
			margin: 0 10px 0 5px;
			//@include media($xs) {
			//	font-size: 15px;
			//}
		}
		&:after {
			display: none !important;
		}
	}
	[data-reviews="0"] {
		&:before {
			display: none;
		}
	}
}
