.footer {
    background-color: $dark;
}

.footer-global {
    margin: auto;
    max-width: $xl;
    padding: 65px 15px 15px;

    @include media (max-width $s) {
        padding: 30px 15px 15px 15px;
    }
}
.footer-top, .footer-bottom {
    padding-bottom: 50px;
    @include media($s) {
        padding-bottom: 67px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    //@include media(max-width $s) {
    //
    //}
}

.footer-list {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 40px;
    &:not(:last-child) {
        padding-right: 100px;
        @include media (max-width $s) {
            padding-right: 50px;
            padding-bottom: 40px;
        }
    }
    &:last-child {
        padding-bottom: 40px;
    }
    &:nth-child(2) {
        @include media(max-width $s) {
            padding-right: 0;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #838383;
        @include media(max-width $s) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .menu_footer li {
        font-size: 15px;
        @include media(max-width $s) {
            font-size: 13px;
        }
        line-height: 18px;
        color: #ffffff;
        &:not(:last-child) {
            padding-bottom: 12px;
            @include media(max-width $s) {
                padding-bottom: 10px;
            }
        }
        &:first-child {
            padding-top: 15px;
            @include media(max-width $s) {
                padding-top: 10px;
            }
        }
        &:first-letter {
            text-transform: uppercase;
        }
    }
    &_newsletter {
        ul > li {
            padding-bottom: 24px !important;
            @include media(max-width $s) {
                padding-top: 5px !important;
                padding-bottom: 10px !important;
            }
        }
        max-width: 380px;
        padding: 0 !important;
        //@include media(max-width $s) {
        //    min-width: 70%;
        //}
        form {
            position: relative;
            overflow: hidden;
			max-width: 360px;
            @include media($s) {
                max-width: auto;
            }
        }
    }
    &__input {
        width: 100%;
        //padding: 14px;
        height: 49px;
        line-height: 49px;
        padding-left: 14px;
        font-size: 16px;
        color: $dark;
        font-family: $def;
        border-radius: 0;
        @include placeholder() {
            font-size: 16px;
            color: $dark;
            text-transform: capitalize;
            font-family: $def;
            height: 49px;
            line-height: 49px;
        }
    }
    &__submit {
        position: absolute;
        //top: 50%;
        bottom: 13px;
        right: 16px;
        //transform: translate(0, -45%);
        background-color: transparent;
        outline: none;
        width: 27px;
        padding: 0;
        //height: 45px;
        //padding-right: 13px;
        svg {
            width: 100%;
        }
        .is-ie & {
            bottom: 9px;
        }

    }
    &_social {
        @include media(max-width $s) {
            position: relative;
            margin-left: -6px;
            h3 {
                display: none;
            }
            display: block;
            padding-right: 0;
            ul {
                display: flex;
                li:not(:last-child) {
                    padding: 0 50px 0 0 !important;
                }
                li {
                    span {
                        &:nth-child(2) {
                            display: none;
                        }
                    }

                }
            }
        }
    }
}

.footer-bottom {
    position: relative;
    padding-bottom: 0;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: -17px;
        background-color: #636363;
    }
    ul {
        li, a {
            display: inline-block;
            width: 30px;
            height: 19px;
            margin-right: 4px;
            background-size: 31px;
            background-repeat: no-repeat;
            @include media($s) {
                width: 46px;
                height: 29px;
                background-size: 46px;
                margin-right: 10px;

            }
        }
    }
    &__copy {
        align-self: center;
        font-size: 13px;
        color: #999999;
        text-transform: capitalize;
        @include media(max-width $xs) {
            font-size: 10px;
            //line-height: 40px;
        }
    }
}

.social {
    display: inline-block;
    width: 28px;
    vertical-align: middle;
    text-align: center;

    &_instagram {
        svg {
            width: 16px;
            height: 16px;
        }

    }
    &_facebook {
        svg {
            width: 9px;
            height: 19px;
        }
    }
    &_youtube {
        svg {
            width: 18px;
            height: 13px;
        }
    }
    &_twitter {
        svg {
            width: 18px;
            height: 15px;
        }
    }
    svg {
        @include media (max-width $s) {
            width: 45px;
            width: 23px;
            height: 27px;
        }
    }
}
.footer-list__item_social {
    text-transform: capitalize;
    a, span {
        text-transform: capitalize;
    }
}
.footer {

    .footer-list__input {
        padding: 0 !important;
        li {
            padding: 0 !important;
        }

        input {
            width: 100%;
            //padding: 14px;
            height: 49px;
            line-height: 49px;
            padding-left: 14px;
            font-size: 16px;
            color: $dark;
            font-family: $def;
            border-radius: 0;
            @include placeholder() {
                font-size: 16px;
                color: $dark;
                text-transform: capitalize;
                font-family: $def;
                height: 49px;
                line-height: 49px;
            }
        }
        input::-ms-clear {
            display: none;
        }
    }
}
