.gform_wrapper {
	max-width: 500px;
	//margin: auto;
	.validation_error {
		display: none;
	}
	.gfield {
		position: relative;
	}
	.validation_message {
		position: absolute;
		color: red;
		left: 0;
		top: -22px;
	}
	label {
		display: none;
	}
	input {
		width: 100%;
		border: 1px solid $grey;
		line-height: 47px;
		height: 47px;
		padding: 0 15px;
		font-size: 16px;
		color: $dark;
		margin-bottom: 30px;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		@include placeholder() {
			font-size: 16px;
			color: $dark;
			font-family: $def;
		}
	}
	textarea {
		width: 100%;
		border: 1px solid $grey;
		line-height: 47px;
		padding: 0 15px;
		font-size: 16px;
		color: $dark;
		margin-bottom: 30px;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		resize: none;
		height: 300px;
		font-family: $def;
		@include placeholder() {
			font-size: 16px;
			color: $dark;
			font-family: $def;
		}
	}
	.btn {
		margin: auto;
		width: 220px;
		display: block;
	}
}