.full-width-image {
	//height: 250px;
	width: 100%;
	padding: 100px 0;
	position: relative;
	@include media($s) {
		height: 500px;
		padding: 0;
	}
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.4;
	}
	.content {
		height: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		&.content_right {
			@include media($s) {
				justify-content: flex-end;
				padding: 0;
			}
		}
		&.content_left {
			@include media($s) {
				justify-content: flex-start;
				padding: 0;
			}
		}
	}
	&__inner {
		align-self: center;
		color: $white;
		font-weight: $proxima-b;
		@include media($s) {
			align-self: flex-end;
			padding: 75px 0;
			&.center {
				align-self: center;
				padding: 0;
			}
			&.top {
				align-self: flex-start;
			}
		}
		.btn {
			padding-left: 60px;
			padding-right: 60px;
			margin-top: 40px;
			color: $dark;
			@include media(max-width $s) {
				padding: 10px 25px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			color: $white;
			padding-bottom: 0;
		}
		h1 {
			font-size: 50px;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 25px;
		}
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 18px;
		}
		p {
			font-size: 16px;
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 15px;
			@include media($s) {
				font-size: 18px;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		.content_center & {
			text-align: center;
		}
		.content_right & {
			padding-right: 15px;
			@include media($s) {
				padding-right: 35px;
				flex: 0 0 36%;
			}
			@include media($content) {
				padding-right: 20px;
			}
		}
		.content_left & {
			padding-left: 15px;
			@include media($s) {
				padding-left: 35px;
				flex: 0 0 36%;
			}
			@include media($content) {
				padding-left: 20px;
			}
		}
		&_full {
			.content_left & {
				flex: 1;
			}
		}
	}
}
.c-full-width {
	height: 250px;
	padding: 15px;
	display: flex;
	align-items: center;
	position: relative;
	&__title {
		font-size: 25px;
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		z-index: 2;
		span {
			text-transform: none;
			font-size: 15px;
			display: block;
		}
	}
	@include media($s) {
		height: 500px;
		//padding-left: 100px;
		&__title {
			font-size: 50px;
			span {
				font-size: 30px;
			}
		}
	}
}
