.full-width-video {
    &__wrap {
        position: relative;
        height: 250px;
        @include media($xs) {
            height: 500px;
        }
    }
    &__poster {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: top center;
    }
    &__control {
        width: 47px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        cursor: pointer;
        @include media($s) {
            width: 94px;
        }
		svg {
			polygon, path {
				transition: stroke .4s ease 0s;
			}
		}
        .color-theme-yellow & {
            &:hover {
                svg {
					polygon, path {
						stroke: $yellow;
					}
                }
            }
        }
        .color-theme-blue & {
            &:hover {
                svg {
					polygon, path {
						stroke: $blue;
					}
                }
            }
        }
        .color-theme-red & {
            &:hover {
                svg {
					polygon, path {
						stroke: $red;
					}
                }
            }
        }
    }
}
