// Desktop Menu

.header {
	display: none;
	@include media($l) {
		display: block;
		position: fixed;
		top: 0;
		left:0;
		width: 100%;
		z-index: 20;
		background-color: $white;
	}
	.content {
		display: flex;
		justify-content: space-between;
		overflow: visible;
	}
	&__logo {
		@include media($l) {
			flex: 0 0 18.5%;
			position: relative;
		}
		&:before {
			position: absolute;
			background-color: inherit;
			content: '';
			width: 1000px;
			height: 100%;
			transform: skew(-35deg);
			z-index: 0;
			top: 0;
			right: -40px;
		}
		img, svg {
			backface-visibility: hidden;
			@include media($l) {
				max-width: 75.5%;
				@include center(absolute, vertical);
			}
		}
	}
	&__nav {
		flex: 0 0 81.5%;
	}
}
.secondory-nav {
	padding-left: 100px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 200%;
		content: '';
		background-color: #f6f6f6;
		z-index: -1;
	}
	&__brand {
		flex: 0 0 255px;
		display: flex;
		justify-content: space-between;
		a {
			opacity: .4;
			flex: 0 0 45%;
			align-self: center;
			text-align: center;
			transition: opacity .4s ease 0s;
			img {
				display: inline-block;
				max-width: 115px;
				backface-visibility: hidden;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	&__link {
		align-self: center;
		padding-right: 20px;
		a {
			font-size: 14px;
			color: #818181;
			text-transform: uppercase;
			margin-right: 20px;
			// font-weight: $proxima-b;
			&:last-child {
				margin-right: 0;
			}
		}
		.is-ie & {
			flex: auto;
			text-align: right;
		}
	}
}
.primary-nav {
	padding-left: 60.5px;
	display: flex;
	justify-content: space-between;
	height: 68px;
	.menu {
		display: flex;
		> li {
			height: 100%;
			line-height: 68px;
			opacity: 1;
			transition: opacity .4s ease 0s;
			padding: 0;
			&:last-child {
				padding-right: 0;
			}
			> div {
				padding: 0 10px;
				overflow: hidden;
				position: relative;
				@include media(1150px) {
					padding: 0 17.5px;
				}
				> a {
					font-size: 15px;
					font-weight: $proxima-b;
					color: #221f1f;
					text-transform: uppercase;
					opacity: 1;
					transition: opacity .4s ease 0s;
					@include media(1150px) {
						font-size: 16px;
					}
				}
			}
			&.not-hover a {
				opacity: .4;
			}
			& .sub-menu li a {
				transition: opacity .4s ease 0s;
			}
			& .sub-menu li.not-hover a {
				opacity: 0.4;
				transition: opacity .4s ease 0s;
			}
			@include media($s) {
				&:hover, &.current_page_item {
					opacity: 1;
					&:first-child {
						.link__hover {
							right: 10px;
						}
					}
					&:last-child {
						.link__hover {
							right: -17.5%;
						}
					}
					> li {
						opacity: .4;
					}
				}
			}
			> .menu__dropdown {
				position: absolute;
				width: 100vw;
				left: 0;
				top: 100%;
				z-index: 2;
				background-color: $white;
				height: 0;
				overflow: hidden;
				transition: height .4s ease 0s, border .4s ease 0s;
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					height: 2px;
					width: 100%;
					content: '';
					background-color: #dadada;
				}
				> .sub-menu {
					width: 100%;
					max-width: $l;
					margin: auto;
					display: flex;
					justify-content: space-around;
					justify-content: flex-start;
					justify-content: center;
					padding: 40px 0;
					> li {
						padding-right: 100px !important;
						padding-right: 55px !important;
						> div > a {
							font-size: 20px;
							font-weight: $proxima-b;
							color: #000;
							line-height: 35px;
							display: block;
							text-transform: capitalize;
						}
						&:first-child {
							&.menu-item-has-children {
								border-right: 2px solid #e7e7e7;
								padding-right: 55px !important;
								margin-right: 80px;
								.sub-menu {
									a {
										font-weight: $proxima-b;
										text-transform: uppercase;
									}
									&:hover li {
										//opacity: 1;
									}
								}
							}
							&.right-border {
								border-right: 2px solid #e7e7e7;
								padding-right: 55px !important;
								margin-right: 80px;
							}
							&.hidden-mobile {
								@include hidden-mobile(list-item);
							}
						}
						&:last-child {
							padding-right: 0 !important;
						}
					}
					li {
						padding: 0;
						.sub-menu {
							li {
								height: 35px;
								opacity: 1;
								transition: opacity .4s ease 0s;
								&:hover {
									opacity: 1 !important;
								}
							}
							a {
								font-size: 16px;
								line-height: 35px;
								display: block;
								color: #000;
								text-transform: capitalize;
							}
							&:hover {
								li {
									opacity: .4;
								}
							}
						}
					}
				}
			}
		}
	}
}
.unique-nav {
	align-self: center;
	display: flex;
	position: relative;
	@include media($l) {
		padding-right: 62px;
	}
	.form-search {
		height: 60px;
		background-color: $dark;
		position: absolute;
		top: -22px;
		left: 0;
		transform: translate(calc(100vw + 25px), 0);
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s ease 0s, visibility .4s ease 0s, transform .4s ease 0s;
		stroke-width: 0;
		@include media($s) {
			height: 68px;
			top: -19px;
			display: block;
		}
		input {
			background-color: transparent;
			border: none;
			padding: 0;
			height: 100%;
			color: #cccccc;
			font-size: 20px;
			font-family: $def;
			font-weight: normal;
			@include placeholder() {
				color: #cccccc;
				font-size: 20px;
				font-family: $def;
				font-weight: normal;
			}
		}
		input::-ms-clear {
			display: none !important;
		}

		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			background-color: $dark !important;
			-webkit-box-shadow: 0 0 0px 1000px $dark inset !important;
			-webkit-text-fill-color: rgb(204, 204, 204) !important;
			color: rgb(204, 204, 204) !important;
		}
		&:before {
			position: absolute;
			content: '';
			background-color: inherit;
			width: 1000px;
			height: 100%;
			z-index: -1;
			transform: skew(-35deg);
			top: 0;
			left: -25px;
		}
	}
	.trigger-search {
		width: 15px;
		height: 15px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		left: 0;
		transition: left .4s ease 0s;
		transition: left .4s ease 0s, opacity .4s ease 0s;
		opacity: 1;
		@include media($l) {
			width: 26px;
			height: 24px;
		}
	}
	.slash {
		margin: 0 9px;
		display: inline-block;
		width: 10px;
		height: 15.5px;
		transform: rotate(75deg);
		opacity: 1;
		visibility: visible;
		transition: opacity .4s ease 0s, visibility .4s ease 0s;
		@include media($l) {
			width: 18px;
			height: 30px;
			margin: 0 19px 0 14px;
		}
	}
	.btn-cart {
		width: 17.5px;
		height: 15px;
		display: inline-block;
		opacity: 1;
		visibility: visible;
		transition: opacity .4s ease 0s, visibility .4s ease 0s;
		position: relative;
		@include media($l) {
			width: 27px;
			height: 24px;
		}
		svg {
			position: relative;
			z-index: 1;
		}
		.count {
			position: absolute;
			border-radius: 100%;
			width: 17.5px;
			height: 17.5px;
			text-align: center;
			line-height: 17.5px;
			font-size: 9px;
			z-index: 0;
			top: -9px;
			right: -9px;
			font-weight: $proxima-b;
			@include media($l) {
				width: 28px;
				height: 28px;
				//background-color: initial;
				line-height: 28px;
				font-size: 13px;
				top: -15px;
				right: -15px;
			}
			@include media(max-width $l + 1px) {
				background-color: $white;
			}
		}
	}
	.color-theme-yellow & {
		.count {
			color: $dark;
		}
	}
	.color-theme-blue &, .color-theme-red & {
		.count {
			color: $white;
			@include media(max-width $l + 1px) {
				color: $dark;
			}
		}
	}
	&.search-active {
		.form-search {
			opacity: 1;
			visibility: visible;
			transform: translate(-75px, 0);
		}
		.trigger-search {
			left: 125%;
			opacity: 0;
		}
		.slash, .btn-cart {
			opacity: 0;
			visibility: hidden;
		}
	}
}

// End Desktop Menu

// Mobile Menu

.header_mobile {
	display: block;
	height: 60px;
	position: fixed;
	z-index: 99;
	transform: translate(0, 0);
	top: 0;
	left: 0;
	width: 100%;
	@include media($l) {
		display: none;
	}
	.content {
		display: flex;
		justify-content: space-between;
		height: 100%;
		position: relative;
		z-index: 100;
		background-color: inherit;
		overflow: hidden;
	}
	.mobile-trigger {
		align-self: center;
		position: relative;
		z-index: 2;
		padding: 10px;
		margin-left: -10px;
		span {
			position: relative;
			top: 0;
			display: block;
			width: 19px;
			height: 2px;
			background-color: #231f20;
			margin-bottom: 2px;
			opacity: 1;
			visibility: visible;
			transform: rotate(0);
			transition: opacity .4s ease 0s, visibility .4s ease 0s, transform .4s ease 0s, top .4s ease 0s;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.header__logo {
		@include center(absolute, both);
		height: 60%;
		img {
			height: 100%;
			width: auto;
			max-width: 150px;
		}
	}
	.primary-nav_mobile {
		position: absolute;
		top: 60px;
		left: 0;
		height: calc(100vh - 60px);
		width: 100%;
		z-index: 99;
		background-color: $dark;
		transform: translate(0, calc(-100vh - 60px));
		transition: transform .4s ease 0s;
		padding-bottom: 46px;
		overflow: auto;
	}
	.is-ie & {
		$is-height: calc(100% - 60px);
		.primary-nav_mobile {
			height: $is-height;
			transform: translate(0, $is-height);
		}
	}
	.primary-nav_body {
		position: relative;
	}
	.mobile_menu {
		> li {
			text-align: center;
			position: relative;
			padding: 0;
			text-transform: uppercase;
			a {
				display: block;
				padding: 22px 0;
				color: $white;
				font-size: 18px;
				font-weight: $proxima-b;
				background-color: transparent;
				transition: background-color .4s ease 0s, color .4s ease 0s;
			}
			&.menu-item-has-children {
				&:before {
					content: '\f106';
					position: absolute;
					top: 20px;
					right: 25px;
					font-family: $fa;
					color: $white;
					font-size: 20px;
					transform: rotateX(180deg);
					transition: transform .4s ease 0s, color .4s ease 0s;
				}
			}
			&.active {
				a {
					background-color: #eeeeee;
					color: $dark;
				}
				&.menu-item-has-children:before {
					transform: rotateX(0deg);
					color: $dark;
				}
			}
			> .menu__dropdown > .sub-menu > li:first-child {
				&.menu-item-has-children {
					display: none;
				}
			}
		}
		.menu__dropdown {
			height: 0;
			transition: height .4s ease 0s;
			overflow: hidden;
			li {
				padding: 0;
				border-bottom: 1px solid #e2e2e2;
				a {
					color: $dark;
					background-color: $white;
				}
				&.menu-item-has-children {
					border-bottom: none;
					&:before {
						content: '\f106';
						position: absolute;
						top: 20px;
						right: 25px;
						font-family: $fa;
						color: $dark;
						font-size: 20px;
						transform: rotateX(180deg);
						transition: transform .4s ease 0s, color .4s ease 0s;
					}
				}
				&.active {
					&.menu-item-has-children:before {
						transform: rotateX(0deg);
						color: $dark;
					}
				}
			}
			.menu__dropdown {
				border-top: 1px solid #e2e2e2;
				position: relative;
				&:before {
					width: 100%;
					height: 1px;
					background-color: #e2e2e2;
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 1;
				}
				li {
					border: none;
					a {
						font-weight: normal;
						font-size: 13px;
						text-transform: none;
						padding: 10px 0;
					}
					&:first-child a {
						padding-top: 30px;
					}
					&:last-child  a {
						padding-bottom: 30px;
					}
				}
			}
		}
	}
	.primary-nav_footer {
		border-top: 1px solid #595959;
		text-align: center;
		padding: 35px 0 0;
		a {
			font-size: 15px;
			color: $white;
			display: block;
			margin-bottom: 28px;
			text-transform: uppercase;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.open {
		position: fixed;
		.mobile-trigger {
			span {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: 3px;
				}
				&:nth-child(2) {
					opacity: 0;
					visibility: hidden;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: -4.5px;
				}
			}
		}
		.primary-nav_mobile {
			transform: translate(0, 0);
		}
	}
}
