.heading-width-text {
    padding: 30px 0 0;
    overflow-x: hidden;
    justify-content: space-between;
    @include media($s) {
        display: flex;
        align-items: flex-start;
        padding: 100px 0 40px;
    }
    &__title {
        max-width: 55%;
        margin-bottom: 35px;
        position: relative;
        align-self: self-start;
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        color: $dark;
        text-transform: uppercase;
        @include media($s) {
            flex: 0 1 23%;
            min-width: 350px;
            line-height: 50px;
            font-size: 50px;
            margin-bottom: 50px;
            .error404 & {
                flex: 0 1 20%;
                min-width: 1px;
                .title-bar {
                    width: 70%;
                }
            }
        }
    }
    &__article {
        flex: 0 1 67%;
        h1, h2, h3, h4, h5, h6 {
            font-size: 18px;
            line-height: 20px;
            color: $dark;
            margin-top: 0;
            font-weight: 400;
        }
        p {
            font-size: 16px;
            line-height: 22px;
        }
        ul {
          margin: 1em 0;
        }
        @include media($s) {
            h1, h2, h3, h4, h5, h6 {
                font-size: 25px;
                line-height: 1.1em;
            }
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 33px;
            }
            h3 {
                font-size: 30px;
            }
            h4 {
                font-size: 27px;
            }
            h5 {
                font-size: 25px;
            }
            h6 {
                font-size: 20px;
            }
            p {
                //margin: 30px 0;
                font-size: 16px;
                line-height: 22px;
            }
        }
        & > .c-accordion:not(:first-child) {
            padding-top: 30px;
            @include media($s) {
                padding-top: 50px;
            }
        }
    }
}
