.image-gallery {
	padding: 40px 0;
	&__title {
		font-size: 30px;
		color: $dark;
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0;
	}
	&__content {
		margin: auto;
		//max-width: 1335px;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;
		padding: 40px 0;
	}
	[data-color-brand="red"] &,
	[data-color-brand="blue"] & {
		.image-gallery__title,
		.card__caption {
			color: $white;
		}
	}

	.swiper-arrow {
		position: static;
		width: 5%;

		&_prev {
	    transform: rotateY(180deg) translateX(100%);
			margin-top: 0;
		}

		&_next {
			margin-top: 0;
		}
	}

	.swiper-container {
		display: block;
		min-height: 340px;
		width: 90%;
	}

	.swiper-wrapper {
		height: 340px;

		.swiper-slide {
			.card {
				width: auto;
				max-width: none;
				height: 100%;
				padding: 0;

				&__image {
					height: 100%;
				}
			}
		}
	}
}
