.interactive-map {
	&__header {
		background-color: $grey;
		position: relative;
		padding: 15px 0;
		@include media($s) {
			height: 91px;
			padding: 0;
		}
		.content {
			height: 100%;
			@include media($s) {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	&__title {
		align-self: center;
		font-size: 30px;
		font-weight: 700;
	}
	&__brand:not(.interactive-map__mobile) {
		flex: 0 0 59.5%;
		display: none;
		//justify-content: space-between;
		flex-flow: row nowrap;
		position: relative;
		padding-right: 25px;
		@include media($l) {
			display: flex;
		}
		&:after {
			content: '';
			height: 70px;
			width: 1px;
			background-color: $grey-dark;
			@include center(absolute, vertical);
			right: 0;
		}
		li {
			flex: 0 0 27%;
			position: relative;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {
				@include center(absolute, both);
				transition: opacity .4s ease 0s;
			}
			svg {
				height: 50px;
				width: auto;
			}
			&:not(.active) {
				a {
					opacity: 0.4;
				}
			}
		}
		.is-ie & {
			flex: 0 0 55%;
			li {
				flex: 0 0 20%;
			}
		}
		[data-brand="yellow"] {
			.link__hover {
				background-color: $yellow;
			}
		}
		[data-brand="blue"] {
			.link__hover {
				background-color: $blue;
			}
		}
		[data-brand="red"] {
			.link__hover {
				background-color: $red;
			}
		}
	}
	&__mobile {
		flex: 0 0 28%;
		display: block;
		border: 1px solid $grey-dark;
		height: 50px;
		background-color: $white;
		//overflow: hidden;
		align-self: center;
		padding: 0 13px;
		position: relative;
		margin-bottom: 15px;
		@include media($s) {
			margin-bottom: 0;
		}
		@include media($l) {
			display: none;
		}
		li {
			height: 100%;
			line-height: 50px;
			color: $dark;
			font-size: 16px;
			cursor: pointer;
			&:before {
				@include center(absolute, vertical);
				right: 10px;
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 6px solid $dark;
				@include media($s) {
					right: 15px;
				}
			}
			ul {
				position: absolute;
				//width: 100%;
				top: 100%;
				height: 0;
				overflow: hidden;
				left: -1px;
				right: -1px;
				z-index: 1;
				background-color: $white;
				//border: 1px solid $grey-dark;
				transition: height .4s ease 0s;
				li {
					border-left: 1px solid $grey-dark;
					border-right: 1px solid $grey-dark;
					border-bottom: 1px solid $grey-dark;
					padding: 0 13px;
					height: 50px;
					&:first-child {
						border-top: 1px solid $grey-dark;
					}
					&:before {
						display: none;
					}

					&.active {
						background-color: #efefef;
					}
				}
			}
		}
		&.open {
			li ul {
				height: auto;
			}
		}
 	}
	&__nav {
		flex: 0 0 70%;
		@include media($xs) {
			justify-content: space-between;
			display: flex;
		}
		@include media($l) {
			flex: 0 0 40.5%;
			padding-left: 40px;
			.is-ie & {
				flex: 0 0 40%;
			}
		}
		.trigger__link {
			flex: 0 0 23%;
			min-width: initial;
			background-color: $dark;
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			color: $white;
			padding: 0 10px;
			position: relative;
			align-self: center;
			text-transform: none;
			margin-top: 15px;
			display: none;
			@include media($xs) {
				margin-top: 0;
			}
			@include media($s) {
				padding: 0 13px 0 35px;
			}
			@include media($l) {
				flex: 0 0 26%;
				margin: 15px auto 0;
				min-width: 160px;
			}
			@include media($l) {
				margin: 0;
				max-width: 110px;
				min-width: 110px;
			}
			@include media($s) {
				&:before {
					@include center(absolute, vertical);
					left: 11px;
					content: '';
					width: 17px;
					height: 24px;
					background-image: url(../media/icon-search-btn.svg);
					background-size: cover;
					display: block;
				}
			}
		}
		&.js-show-nearMe {
			.trigger__link {
				display: block;
				@include media($l) {
					display: inline-block;
				}
			}
		}
	}
	&__search {
		height: 50px;
		position: relative;
		align-self: center;
		@include media($l) {
			flex: 0 0 100%;
			.js-show-nearMe & {
				flex: 0 0 72%;
			}
		}
		flex: 0 0 100%;
		.js-show-nearMe & {
			flex: 0 0 74%;
		}
		input {
			width: 100%;
			height: 100%;
			line-height: 50px;
			color: $dark;
			font-size: 16px;
			padding-left: 50px;
			border: 1px solid $grey-dark;
			transition: border .4s ease 0s, color .4s ease 0s;
			border-radius: 0;
			@include placeholder() {
				font-size: 16px;
				font-family: $def;
				color: $dark;
			}
		}
		.trigger {
			@include center(absolute, vertical);
			left: 14px;
			width: 25px;
			height: 23px;
			//background-image: url(../media/icon-search.svg);
			//background-size: cover;
			cursor: pointer;
			svg {
				width: 100%;
			}
		}
		&.error {
			input {
				border: 1px solid $red;
				color: $red;
			}
			svg {
				path {
					stroke: $red !important;
				}
			}
		}
	}
	&__body {
		width: 100%;
		height: 350px;
		@include media($xs) {
			height: 600px;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	}
}
.gm-style-iw {
	overflow: visible !important;
	* {
		overflow: visible !important;
	}
}
.c-info-wrapper {
	position: relative;
	width: 215px;
	&:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -50px;
        right: -73px;
        bottom: -15px;
        z-index: 10001;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.49);
        border: 1px solid #ffffff;
        border-radius: 4px;
	}
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        bottom: -25px;
        left: 51%;
        //transform: rotate(45deg) translateX(-50%);
        transform: rotate(45deg);
        z-index: 100002;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.49);
    }
	&_yellow {
		&:before, &:after, .c-info-window  {
			background: $yellow;
		}
	}

	&_blue {
		&:before, &:after, .c-info-window  {
			background: $blue;
		}
	}
	&_red {
		&:before,
		&:after,
		.c-info-window  {
			background: $red;
		}
	}
    &_blue,
    &_red {
        .c-info-window__title, .c-info-window__workhours, .c-info-window__link {
            color: #ffffff;
        }
    }
}

.c-info-window {
	position: relative;
	z-index: 100002;
	text-align: center;
	margin-left: 23px;
	&__title, &__workhours, &__link {
		font-family: $def;
		font-size: 15px;
		font-weight: 700;
	}
	&__title {
		margin-bottom: 8px;
	}
	&__workhours {
		line-height: 18px;
		text-transform: capitalize;
		font-size: 13px;
		font-weight: 600;
	}
	&__link {
		display: block;
		margin-top: 16px;
	}
}
