.lightbox {
	@include fill;
	position: fixed;
	@include fade(hide);
	background:rgba(0,0,0,0.85);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	&.open {
		@include fade(show);
	}
	&__content {
		@include aspect-ratio(16,9);
		width: 65%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
	}
	&__poster {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__closer {
		width: 30px;
		height: 30px;
		top: -40px;
		right: -40px;
		position: absolute;
		cursor: pointer;
		.lightbox_slider & {
			right: 0;
			left: auto;
			width: 40px;
			height: 40px;
		}
		&:before, &:after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background: #fff;
			content: '';
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&-player, .video-player {
		width: 100%;
		height: 100%;

		// if not iframe itself
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}