.link-bar {
	background-color: $white;
	&__inner {
		overflow: hidden;
		@include media($s) {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			//height: 91px;
			height: 110px;
		}
		li {
			height: 100%;
			text-align: center;
			position: relative;
			border-bottom: 2px solid $grey;
			padding: 28px 0;
			@include media($s) {
				margin-right: 118px;
				border: none;
				//padding: 0 25px;
			}
			&:last-child {
				margin-right: 0;
				border: none;
			}
			.link__hover {
				width: 130%;
				@include media(max-width $s + 1) {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity .4s ease 0s;
					transform: skew(0);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		a {
			font-weight: $proxima-b;
			color: $dark;
			text-transform: uppercase;
			display: block;
			font-size: 15px;
			position: relative;
			z-index: 1;
			@include media($s) {
				font-size: 25px;
				@include center(relative, vertical);
			}
		}
		span {
			padding-right: 5px;
			font-weight: normal;
			@include media($s) {
				font-weight: $proxima-b;
				font-size: 15px;
				display: block;
				padding: 0;
				min-height: 19px;
			}
		}
	}
}
.title-bar {
	position: absolute;
	bottom: -18px;
	left: -10px;
	width: 50%;
	height: 11px;
	transform: skew(-35deg);
	background-color: #fbe122;
	@include media($s) {
		bottom: -25px;
	}
	.heading-width-text__title & {
        left: -40px;
		width: 57%;
	}
}