.list-with-sidebar {
	padding: 0 15px;
	max-width: $xl;
	margin: auto;
	@include media($s) {
		display: flex;
		flex-direction: row-reverse;
	}
	&_single,
	&_search {
		border-top: 1px solid $grey;
	}
}
.post-list {
	flex: 0 1 64%;
	background-color: $white;
	transition: opacity ease 0.25s;
	opacity: 1;
	padding: 10px 0 60px;
	@include media($s) {
		padding: 80px 50px 60px 0;
	}
	&.ajax {
		opacity: 0;
	}
	&.post-list_search {
		flex: 100%;
		padding: 60px 0 0;
	}
	.not-result {
		text-transform: uppercase;
		font-size: 25px;
	}
}
.post-list-item {
	color: $dark;
	margin-bottom: 110px;
	.post-list_search & {
		margin-bottom: 45px;
		padding-bottom: 45px;
		border-bottom: 1px solid #cccccc;
	}
	&__img {
		height: 200px;
		width: 100%;
		margin-bottom: 30px;
		@include media($s) {
			height: 385px;
		};
		.post-list_search & {
			@include media($s) {
				margin-bottom: 0;
				height: 275px;
			};
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 25px;
		padding: 0 0 20px;
	}
	&__content {
		p {
			margin: 0 0 30px;
			line-height: 25px;
		}
		div {
			width: 100% !important;
		}
		img {
			max-width: 100%;
			margin-bottom: 30px;
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
			font-size: 25px;
			margin-bottom: 30px;
		}
		ul, ol {
			li {
				margin: 0 0 30px;
				line-height: 25px;
			}
		}
	}
	&__info {
		margin-bottom: 35px;
		span {
			display: block;
			line-height: 25px;
		}
	}
	.btn {
		margin-right: 35px;
		&:last-child {
			margin-right: 0;
		}
		@include media(max-width $s - 1px) {
			max-width: 172px;
			padding: 12px 25px 11px;
		}
	}
}
.post-list-nav {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: $proxima-b;
	a {
		flex-grow: 1;
		color: #9d9d9d;
		transition: color .4s ease 0s;
		&:hover {
			color: $dark;
		}
		&:nth-child(2) {
			text-align: center;
		}
		&:nth-child(3) {
			text-align: right;
		}
	}
	[data-page="prev"] {
		text-align: left;
	}
	[data-page="next"] {
		text-align: right;
	}
	&__number {
		display: none;
	}
	&_arrow {
		&.empty {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.sidebar {
	flex: 0 1 36%;
	color: $dark;
	padding: 40px 0;
	position: relative;
	@include media($s) {
		background-color: #eee;
		padding: 80px 0 60px 50px;
		&:after {
			position: absolute;
			left: 100%;
			top: 0;
			background-color: #eee;
			height: 100%;
			width: 100%;
			content: '';
		}
	}
	&__item {
		margin-bottom: 45px;
		@include media($s) {
			margin-bottom: 65px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.cat-item {
			text-transform: lowercase;
			margin-bottom: 10px;
			transition: opacity .4s ease 0s;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				text-transform: capitalize;
				transition: color .4s ease 0s, font-weight .4s ease 0s;
				&:hover {
					font-weight: bold;
				}
			}
			&.not-hover {
				opacity: .4;
				transition: opacity .4s ease 0s;
			}
			&.current-cat a {
				font-weight: bold;
			}
		}
	}
	&__title {
		font-size: 20px;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		padding: 0 19px 15px;
		position: relative;
		@include media($s) {
			font-size: 25px;
		    padding: 0 0 15px;
		}
		&:before {
			position: absolute;
			top: 2px;
			right: 14px;
			font-family: $fa;
			font-size: 15px;
			content: '\f067';
			transition: transform .4s ease 0s;
			transform: rotate(0);
			@include media($s) {
				display: none;
			}
		}
		.active & {
			&:before {
				transform: rotate(45deg);
			}
		}
	}
	form {
		overflow: hidden;
		height: 0;
		transition: height .4s ease 0s;
		padding: 0 19px;
		@include media($s) {
			overflow: auto;
			height: auto;
			padding: 0;
		}
	}
	&__title + ul {
		overflow: hidden;
		height: 0;
		transition: height .4s ease 0s;
		padding: 0 19px;
		@include media($s) {
			overflow: auto;
			height: auto;
			padding: 0;
		}
		li {
			&:first-child {
				margin-top: 40px;
			}
		}
	}
	.searchform {
		width: 100%;
		position: relative;
		input {
			width: 100%;
			height: 40px;
			line-height: 40px;
			border: 1px solid #d7d7d7;
			padding: 0 19px;
			font-size: 16px;
			color: $dark;
			font-weight: normal;
			font-family: $def;
			letter-spacing: .5px;
			@include placeholder() {
				font-size: 16px;
				color: $dark;
				font-weight: normal;
				letter-spacing: .5px;
			}
			@include media($s) {
				height: 60px;
				line-height: 60px;
				font-size: 20px;
				@include placeholder() {
					font-size: 20px;
				}
			}
			&[type='text'], &[type='submit'] {
				font-family: $def;
			}
		}
		button {
			position: absolute;
			@include center(absolute, vertical);
			right: 15px;
			padding: 0;
			background-color: transparent;
			.trigger-search {
				width: 15px;
				height: 15px;
				display: inline-block;
				cursor: pointer;
				position: relative;
				left: 0;
				transition: left .4s ease 0s;
				@include media($l) {
					width: 26px;
					height: 24px;
				}
			}
		}
	}
	.wpp-list {
		li {
			margin-bottom: 58px;
            transition: opacity .4s ease 0s;
            .wpp-post-title {
				text-transform: uppercase;
				display: block;
				font-weight: $proxima-b;
				margin-bottom: 13px;
				font-size: 18px;
				@include media($s) {
					font-size: 20px;
				}
			}
			.wpp-excerpt {
				font-size: 14px;
				line-height: 1.4em;
				@include media($s) {
					font-size: 16px;
				}
			}
			.post-link {
				display: block;
				font-size: 16px;
				font-weight: $proxima-b;
				margin-top: 13px;
			}
            &.not-hover {
                opacity: .4;
                transition: opacity .4s ease 0s;
            }
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.share-widget {
		li {
			padding-left: 35px;
			position: relative;
			text-transform: capitalize;
			margin-bottom: 40px;
			transition: opacity .4s ease 0s;
			&.not-hover {
				opacity: .4;
				transition: opacity .4s ease 0s;
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				@include center(absolute, vertical);
				left: 0;
				top: 60%;
				svg {
					width: 20px;
					height: auto;
					backface-visibility: hidden;
					@include media($s) {
						width: 27px;
					}
					path {
						fill: $dark;
						stroke: transparent;
					}
				}
			}
			&.share-widget__facebook {
				span {
					left: 4px;
					svg {
						width: 15px !important;
					}
				}
			}
			&.share-widget__twitter {
				span {
					height: 34px;
					svg {
						height: 25px;
					}
				}
			}
		}
	}
	&.sidebar_events {
		.cat-item {
			a {
				color: $grey-dark;
				font-weight: $proxima-b;
				&:hover {
					color: $dark;
				}
			}
			&.current-cat a {
				color: $dark;
			}
		}
	}
}
