.star-list {
	display: flex;
	li {
		margin-right: 2px;
		position: relative;
		width: 15px;
		height: 15px;
		//@include media($xs) {
		//	width: 15px;
		//	height: 15px;
		//}
		&:last-child {
			margin-right: 0;
		}
		&:before {
			content: '';
			background-image: url(../media/star.svg);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.spr-icon-star-empty:before {
			background-image: url(../media/star-empty.svg);
		}
		&.spr-icon-star-half-alt {
			&:before {
				background-image: url(../media/star-half.svg);
				z-index: 1;
			}
		}
	}
	&__reviews {
		&:before {
			display: none;
		}
		font-size: 15px;
		color: #999999;
		font-weight: normal;
		margin-left: 2px;
		width: auto !important;
	}
}