.location-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    @include media($m) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    &__item {
        width: 100%;
        border-bottom: 20px solid transparent;
        position: relative;
        @include media($xs) {
            width: 50%;
        }
        @include media($m) {
            width: 33.3333%;
            border-bottom: 36px solid transparent
        }
        @include media($l) {
            width: 25%;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
            z-index: -1;
        }

        &:hover {
            .color-theme-yellow & {
                .location-grid__wrapper {
                    background: $yellow;
                }
            }
            .color-theme-red & {
                .location-grid__wrapper {
                    background: $red;
                    color: $white;
                }
            }
            .color-theme-blue & {
                .location-grid__wrapper {
                    background: $blue;
                    color: $white;
                }
            }
        }

    }
    &__image {
        height: 109px;
        position: relative;
        display: block;
        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        @include media($s) {
            height: 197px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transition: color .4s ease 0s, background .4s ease 0s;
    }
    &__body {
        padding: 17px 9px 9px;
        cursor: pointer;
		p {
			margin: 0;
		}
        @include media($m) {
            padding: 25px 15px 15px;
        }
    }
    &__title {
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        span {
            display: block;
            padding-top: 3px;
            font-size: 13px;
            text-transform: none;
        }
        @include media($m) {
            padding-bottom: 24px;
            font-size: 18px;
            span {
                font-size: 15px;
            }
        }
    }
    &__phone, &__direction {
		display: inline-block;
        font-size: 13px;
        font-weight: 400;
        color: $dark;
        padding-bottom: 12px;
        &:before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 23px;
            margin-right: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        @include media($m) {
            font-size: 15px;
        }
    }
    &__phone {
        &:before {
            background-image: url(../media/phone-icon.svg);
        }
    }
    &__direction {
        text-transform: uppercase;
        cursor: pointer;
        &:before {
            background-image: url(../media/pin.svg)
        }
        span {
            display: inline-block;
            position: relative;
            &:after {
                content: '';
                display: block;
                bottom: 0;
                left: 50%;
                width: 0;
                margin: auto;
                background-color: $dark;
                height: 2px;
                transition: width .4s ease;
            }
        }

        &:hover span:after {
            width: 100%;
            transition: width .4s ease;
        }
    }
    &__link {
        display: block;
        margin-top: 26px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        @include media($m) {
            margin-top: 50px;
            font-size: 16px;
        }
    }
}
.location-grid__item {
    &.hidden {
        display: none;
    }
}