.multi-column {
    @include media ($s) {
        display: flex;
    }
    &__col {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        @include media (max-width $s) {
            height: 250px;
        }
        align-items: center;
        flex: 1 1 50%;
        overflow: hidden;
        &:hover {
            .multi-column__bg {
                transition: transform .5s ease;
                transform: scale(1.05);
            }
        }
    }
    &__bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform .5s ease;
        top: 0;
        left: 0;
    }
    &__bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
    }
    &__title {
        font-weight: $proxima-b;
        padding-bottom: 17px;
        text-align: center;
        font-size: 45px;
        font-family: $def;
        text-transform: uppercase;
        color: #ffffff;
        @include media (max-width $l) {
            font-size: 34px;
        }
        > * {
            margin: 0;
        }
        @include media($s) {
            padding-bottom: 45px;
        }
    }
}
