.page-header {
	height: 250px;
	position: relative;
	@include media($s) {
		height: 500px;
	}
	&.page-header_small {
		height: 65px;
		position: relative;
		@include media($s) {
			height: 130px;
		}
	}
	.content {
		position: relative;
		height: 100%;
		z-index: 2;
	}
	&__add-bg {
		@include fill;
		z-index: 0;
		@include media($s) {
			display: none;
		}
	}
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.4;
		z-index: 1;
	}
	&__highlight {
		.color-theme-yellow & {
			color: $yellow;
		}
		.color-theme-red & {
			color: $red;
		}
		.color-theme-blue & {
			color: $blue;
		}
	}
	&_uppercase  {
		text-transform: uppercase;
	}
	h1 {
		font-size: 15px;
		color: $white;
		@include center(absolute, vertical);
		@include media($s) {
			font-size: 30px;
		}
	}
	&__search {
		font-size: 16px;
		margin: 5px 0 0;
		font-weight: 300;
		text-transform: none;
		a {
			color: #0099ff;
		}
	}
}
