.post-item {
    @include media($m) {
        display: flex;
        //align-items: center;
        justify-content: space-between;
        &__image {
            flex: 0 37%;
        }
        &__content {
            flex: 0 60%;
        }
    }
}
