.two-column-numbered-section {
  margin-top: 60px;

  @include media($m) {
    margin-top: 0px;
  }
}

.c-numbered {
    padding-bottom: 80px;
    @include media($m) {
        padding: 130px 0;
    }
    &__image {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
        @include media($m) {
            height: auto;
            transform: translateY(100%);
            .js-inview & {
                transform: translateY(40px);
                transition: transform 1.5s ease;
            }
        }
    }
}
.c-numbered-text {
    position: relative;
    @include media($m) {
        left: -160px;
        z-index: -1;
        .c-two-column_text-left & {
            left: 160px;
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top:60px;
        padding-bottom: 30px;
        @include media($m) {
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 20px;
        }
    }
    &__sub {
        font-size: 16px;
        line-height: 23px;
        padding-right: 70px;
        padding-top: 25px;
        padding-bottom: 50px;
        @include media($m) {
            padding-top: 40px;
            padding-bottom: 134px;
        }
        [data-color-brand="red"] &,
        [data-color-brand="blue"] & {
            color: $white;
        }
    }
    &__sub, &__title {
        padding-left: 30px;
        @include media($m) {
            padding-left: 197px;
            padding-right: 108px;
            .c-two-column_text-left & {
                padding-right: 241px;
                padding-left: 66px;
            }
        }
    }
    &__count {
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
        font-size: 200px;
        line-height: normal;
        color: #f1f1f1;
        opacity: .75;
        z-index: -2;
        font-weight: 700;

        @include media($m) {
            font-size: 400px;
            top: -152px;
            left: 32px;
            .c-two-column_text-left & {
                left: 84px;
            }
        }
    }
}

.c-numbered[data-waypoint-fade] {
    opacity: 1 !important;
}

.out[data-delay] {
    @include v-out_waypoint(100%);
}
.in[data-delay] {
    @include v-in_waypoint(0, 1.2s);
}
.in_indent[data-delay] {
    @include v-in_waypoint(-40px, 1.2s)
}
