.search-bar {
	padding: 55px 0 65px;
	text-align: center;
	h2 {
		text-transform: uppercase;
		font-size: 19px;
		color: $dark;
		a {
			position: relative;
			opacity: 1;
			transition: opacity .4s ease 0s;
			&:before {
				bottom: -5px;
				left: 0;
				position: absolute;
				width: 100%;
				content: '';
				height: 5px;
				background-color: transparent;
			}
			&:hover {
				opacity: .4;
			}
		}
		.color-theme-yellow & a:before{
			background-color: $yellow;
		}
		.color-theme-red & a:before {
			background-color: $red;
		}
		.color-theme-blue & a:before {
			background-color: $blue;
		}
	}
	form {
		width: 100%;
		margin: 25px auto 0;
		position: relative;
		max-width: 595px;
		input {
			width: 100%;
			border: 1px solid #cccccc;
			font-size: 16px;
			color: $dark;
			padding: 0 15px;
			height: 50px;
			line-height: 50px;
			@include placeholder() {
				font-size: 16px;
				color: $dark;
			}
		}
		.trigger {
			width: 26px;
			height: 24px;
			@include center(absolute, vertical);
			right: 15px;
		}
	}
}