.location-single {
  .location-grid__body {
    cursor: auto;
    padding-left: 0;
    padding-right: 0;
    @include media(max-width $s) {
      padding-bottom: 10px;
    }
    &_list-style {
      .location-grid__title {
        padding: 0;
      }
    }
  }
  @include media($s) {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
    .location-grid__body {
      //width: 33.3333%;
    }

  }
  .location-grid__phone, .location-grid__direction {
    font-weight: $proxima-b;
  }
  .location-grid__direction {
    margin-bottom: 0;
    span:after {
      content: none;
    }
  }
  .location-grid__link {
    font-size: 15px;
    padding-bottom: 12px;
    font-weight: $proxima-b;
    margin: 0;
    &:before {
      content: '';
      display: inline-block;
      width: 9px;
      height: 19px;
      background: url(../media/facebook.svg) no-repeat;
      background-size: contain;
      text-align: center;
      vertical-align: bottom;
      margin-left: 4px;
      margin-right: 12px;
    }
  }

  .location-grid__title_sub {
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 44px;
    @include media($s) {
      margin-bottom: 26px;
    }
  }
}

.c-timetable {
  margin-top: 10px;
  &__item {
    padding: 5px 0;
    text-transform: uppercase;
    span {
      text-transform: none;
      font-weight: $proxima-b;
    }
  }
}

.c-half-width {
  &__map, &__management {
    height: 300px;
    #single-map {
      width: 100%;
      height: 100%;
    }
  }
  &__management {
    height: auto;
    min-height: 300px;
    //@include media(max-width $s - 1px) {
    //	max-height: 300px;
    //}
  }
  @include media($s) {
    display: flex;
    &__map, &__management {
      width: 50%;
      height: 100%;
    }
    height: 600px;
  }
  &__management {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .c-name {
    width: 100%;
    position: absolute;
    padding: 15px 45px;
    color: #ffffff;
    transition: padding .4s ease 0s;
    //margin-top: 35%;
    @include media($s) {
      position: relative;
      margin-top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(000, 000, 000, 1);
      @include media($s) {
        background-color: rgba(000, 000, 000, .63);
      }
    }
    &__title {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      transition: left .4s ease .4s, transform .4s ease .4s;
      @include media($s) {
        font-size: 25px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    span {
      display: inline-block;
      text-transform: capitalize;
      font-size: 12px;
      padding-top: 3px;
      font-weight: 400;
      position: relative;
      transition: left .4s ease .4s, transform .4s ease .4s;
      @include media($s) {
        font-size: 15px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__description {
      position: relative;
      margin: 0;
      font-size: 15px;
      line-height: 1.2em;
      transition: margin .4s ease 0s, height .4s ease 0s;
      @include media($s) {
        height: 0;
        overflow: hidden;
      }
      p {
        margin: 25px 0 0;
        @include media($s) {
          margin: 0;
        }
      }
    }
  }

  &__management {
    &.active {
      .c-name {
        @include media($s) {
          padding: 15px 45px 35px;
        }

        transition: padding .4s ease .4s;

        .c-name__title, span  {
          left: 0;
          transform: translate(0);
          transition: left .4s ease 0s, transform .4s ease 0s;
        }

        .c-name__description {
          margin-top: 25px;
          transition: margin .4s ease .4s, height .4s ease .4s;
        }
      }
    }
  }
}
