.hero-slide {
	&.play {
		.hero-slide__media_video:after {
			opacity: 0;
		}
	}
	&__media {
		height: 250px;
		@include media($m) {
			height: 500px;
		}
		&_video {
			&:after {
				content:'';
				display: block;
				@include fill;
				z-index: -1;
				background:#000;
				transition: opacity ease-out .45s;
				@include media($xs) {
					z-index: 1;
				}
			}
		}
	}
	&__caption {
		overflow: hidden;
		background:$dark;
		@include media($m) {
			@include fill();
			background:none;
			display: flex;
			align-items: center;
			left: 75px;
			right: 60%;
		}
	}
	&__video-caption {
		@include center(absolute, both);
		z-index: 2;
	}
	&__title {
		box-sizing: border-box;
		padding: 20px 15px 30px;
		text-align: center;
		width: 100%;
		@include media($m) {
			padding: 37px 15px 30px;
		}
		h1,h2,h3 {
			font-size: 25px;
		}
		h1,h2,h3,h4,h5,h6 {
			font-weight: 600;
			padding-bottom: 6px;
		}
		p {
			font-size: 14px;
			margin: 0;
			padding-bottom: 10px;
		}
		&>*:not(.btn) {
			color: #fff;
		}
		@include media($m) {
			text-align: left;
			h1,h2,h3 {
				font-size: 45px;
				line-height: 40px;
			}
			p {
				font-size: 18px;
			}
		}
		.btn {
			margin-top: 13px;
		}
	}
	.video-aligner {
		display: none;
		@include media($xs) {
			display: block;
		}
	}
}

.swiper-controls {
	@include media($m) {
		@include fill();
		top: auto;
		bottom: 15px;
		z-index: 1;
		text-align: center;
		span {
			display: inline-block;
			margin: 0 6px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background:#fff;
			cursor: pointer;
			transition: background ease-out .2s;
		}
	}

	&.false {
		opacity: 0;
		visibility: hidden;
	}
}

.swiper-arrow {
	position: absolute;
	top: 125px;
	margin-top: -10px;
	width: 20px;
	height: 35px;
	z-index: 1;
	cursor: pointer;
	&_prev {
		left: -5px;
		transform: rotateY(180deg);
		transform-origin: 100% 0;
		.image-gallery & {
			left: -20px;
			margin-top: -50px;
			@include media(1366px) {
				left: -0;
			}
		}
		.lightbox & {
			left: 0;
			right: auto;
			margin-top: -80px;
		}
	}
	&_next {
		right: 15px;
		.image-gallery & {
			right: 2px;
			margin-top: -50px;
			@include media(1366px) {
				right: 20px;
			}
		}
		.lightbox & {
			right: 0;
			left: auto;
			margin-top: -80px;
		}
	}
	svg {
		width: 100%;
		height: 100%;
	}
	@include media($m) {
		top: 50%;
	}
}


.video-aligner {
	@include aspect-ratio(16, 9);
	top: 50%;
	transform: translateY(-50%);
	iframe {
		width: 100%;
		height: 135%;
		    transform: translateY(-18%);
	}
}

/*============================================
=            NATIVE SWIPER STYLES            =
============================================*/

.swiper-container {
	position: relative;
	/* Fix of Webkit flickering */
	z-index: 1;
	.image-gallery & {
		overflow: hidden;
	}
	.lightbox & {
		position: absolute;
		width: 90%;
		overflow: hidden;
	}
}
.swiper-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height;
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	.image-gallery & {
		width: auto;
		height: auto;
	}
}
.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

/*=====  End of NATIVE SWIPER STYLES  ======*/


