.text-content {
    background-color: $white;
    padding: 40px 0;
    min-height: 40vh;
    @include media($m) {
        padding: 60px 0 80px;
    }
    &__inner {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 15px;
        line-height: 1.5em;
        font-size: 16px;
        @include media(785px) {
            padding: 0;
        }
    }
    &__addings {
        a:not(.btn) {
            position: relative;
            display: block;
            padding-left: 30px;
            padding-bottom: 30px;
            &:last-child {
                padding-bottom: 0;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 25px;
                height: 25px;
            }
            @include media(785px) {
                display: inline-block;
                margin-left: 10px;
                font-size: 15px;
            }
        }
        h3 {
            font-size: inherit;
            font-weight: bold;
            padding-bottom: 30px;
            @include media($m) {
                display: inline-block;
            }
        }
        .btn {
            display: none;
            @include media($m) {
                padding: 15px 25px;
                display: block;
                max-width: 160px;
                margin: 30px auto 0;
            }
        }
    }
    &__editor {
        padding-bottom: 20px;
        p {
            color: $dark;
            font-weight: normal;
            margin: 0 0 35px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: #0099ff;
            font-weight: 600;
        }
    }
}