.b-two-column {
    padding-top: 35px;
    padding-bottom: 70px;
    .column-editor {
        padding-bottom: 15px;
    }
    &__item {
        font-size: 16px;
        line-height: 32px;
        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            font-size: inherit;
        }
        li {
            &:before {
                content: '•';
                display: inline-block;
                margin-right: 5px;
                vertical-align: baseline;
            }
        }
        .btn {
            line-height: normal;
        }
        @include media(max-width $m) {
            &:not(:last-child) {
                padding-bottom: 30px;
            }
        }
    }
    @include media($m) {
        display: flex;
        justify-content: space-between;
        .column-editor {
            padding-bottom: 40px;
        }
    }
}