.upcoming-events {
	background-color: $grey;
	padding: 45px 10px;
	@include media($l) {
		padding: 66px 0 105px;
	}
	&_no-top-padding {
		padding-top: 0;
	}
	&__inner {
		margin: auto;
		max-width: 1335px;
		overflow: hidden;
		position: relative;
		@include media($l) {
			padding: 0 35px;
		}
		@include media(1335px) {
			padding: 0;
		}
		.swiper-arrow_prev {

			display: none;
			@include media($l) {
				display: block;
				left: -10px;
			}
			@include media(1340px) {
				left: -22px;
			}
		}
		.swiper-arrow_next {

			display: none;
			@include media($l) {
				display: block;
				right: 10px;
			}
			@include media(1340px) {
				right: -2px;
			}
		}
	}
	.content {
		overflow: hidden;
		@include media($l) {
			padding: 5px 0;
		}
	}
	.swiper-wrapper {
		overflow: initial;
		width: 100%;
		display: block;
		@include media($s) {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}
		@include media($l) {
			width: initial;
		}
	}
	&__item {
		background-color: $grey;
		position: relative;
		margin: 0 auto 20px;
		display: block;
		box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
		@include media(max-width $l - 1) {
			width: 48% !important;
			display: none;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				display: block;
			}
		}
		@include media(max-width $xs - 1) {
			width: 100% !important;
		}
		@include media($l) {
			max-width: 22.8%;
			padding: 0 7px;
			box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
		}
		@include media(1340px) {
			padding: 0 17px;
		}
		&:before {
			@include media($l) {
				content: '';
				position: absolute;
				top: 0;
				left: 7px;
				width: calc(100% - 14px);
				height: 100%;
				box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
			}
			@include media(1340px) {
				left: 17px;
				width: calc(100% - 34px);
			}
		}
		&:hover {
			.color-theme-yellow & {
				.upcoming-events__body {
					background: $yellow;
				}
			}
			.color-theme-red & {
				.upcoming-events__body {
					background: $red;
					color: $white;
				}
			}
			.color-theme-blue & {
				.upcoming-events__body {
					background: $blue;
					color: $white;
				}
			}
		}
	}
	&__date {
		width: 48px;
		height: 53px;
		position: absolute;
		text-align: center;
		padding: 9px 0 0 5px;
		z-index: 1;
		top: 0;
		left: 7px;
		@include media(1340px) {
			left: 17px;
		}
		&:before {
			content: '';
			position: absolute;
			width: 80%;
			height: 100%;
			transform: skew(-35deg);
			right: -40%;
			top: 0;
			background-color: inherit;
			z-index: 0;
		}
		p {
			margin: 0;
			font-size: 15px;
			//color: $dark;
			position: relative;
		}
		span {
			font-weight: $proxima-b;
			font-size: 18px;
			position: relative;
		}
	}
	&__image {
		height: 197px;
		overflow: hidden;
		position: relative;
		div {
			position: absolute;
			top: 0;
			left: -1px;
			right: -1px;
			height: 100%;
			//transform: scale(1);
			//transition: transform .4s ease 0s;
		}
	}
	&__body {
		padding: 25px 15px 15px;
		transition: color .4s ease 0s, background .4s ease 0s !important;
	}
	&__title {
		font-weight: $proxima-b;
		font-size: 18px;
		text-transform: uppercase;
		span {
			display: block;
			padding-top: 3px;
			font-size: 15px;
			text-transform: none;
			margin: 0;
		}
	}
	&__description {
		font-size: 15px;
		padding: 15px 0 68px;
		margin: 0;
	}
	&__link {
		font-weight: $proxima-b;
		font-size: 15px;
		text-transform: uppercase;
	}
}