* {box-sizing: border-box;}
body {
	font-family: $def, sans-serif;
	margin: 0;
	overflow-x: hidden;
	padding-top: 60px;
	@include media($l) {
		padding-top: 113px;
	}
	&:before {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $white;
		opacity: 1;
		visibility: visible;
		transition: opacity .4s ease 0s, visibility .4s ease 0s;
		z-index: 999;
	}
	&.loaded {
		&:before {
			opacity: 0;
			visibility: hidden;
		}
	}
	&.search {
		stroke-width: 0;
	}
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
img {
	display: block;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
button {
	border: none;
	font-family: inherit;
	cursor: pointer;
}
input, textarea, a, button {
	&:focus {
		outline: none;
	}
}