.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_tc {
        background-position: top center;
    }
    &_tl {
        background-position: top left;
    }
    &_tr {
        background-position: top right;
    }
    &_cl {
        background-position: center left;
    }
    &_cr {
        background-position: center right;
    }
    &_bc {
        background-position: bottom center;
    }
    &_bl {
        background-position: bottom left;
    }
    &_br {
        background-position: bottom right;
    }
}

.bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.color-theme-yellow {
    .brand {
        background-color: $yellow;
    }
    .brand-to {
        background-color: $white;
        transition: background-color .4s ease 0s;
        &:hover, &.active {
            background-color: $yellow;
        }
    }
    .brand-dark-to {
        background-color: $dark;
        transition: background-color .4s ease 0s, color .4s ease 0s;
        &:hover {
            color: $dark;
            background-color: $yellow;
        }
    }

    .color-to {
        color: $white;
        transition: color ease-out .4s;
        .s0 {
            stroke: $white;
            transition: stroke ease-out .4s;
        }
        .s0_soc svg path {
            fill: $white;
            transition: fill ease-out .4s;
        }
        &:hover {
            color: $yellow !important;
            .s0 {
                stroke: $yellow;
            }
            .s0_soc svg path {
                fill: $yellow;
            }
        }
    }
    .color-dark-to {
        s0, svg path, svg circle, svg polyline, svg line  {
            stroke: $dark;
            transition: stroke ease-out .4s;
        }
        &:hover, .search-active & {
            color: $yellow;
            .s0, svg path, svg circle, svg polyline, svg line  {
                stroke: $yellow !important;
            }
        }
    }
    .image-gallery .color-dark-to.swiper-arrow:hover {
         .s0, svg path, svg circle, svg polyline, svg line  {
            stroke: #fff !important;
        }
    }
}
.color-theme-blue {
    .brand {
        background-color: $blue;
        &--color-white {
            background: $blue;
            color: $white;
        }
    }
    .brand-to {
        background-color: $white;
        transition: background-color .4s ease 0s;
        &:hover, &.active {
            background-color: $blue;
        }
        &--hover-white {
            transition: color .4s ease 0s, background-color .4s ease 0s;
            &:hover {
                color: $white !important;
            }
        }
		&.upcoming-events__body {
			color: $dark;
		}
    }
    .brand-dark-to {
        background-color: $dark;
        transition: background-color .4s ease 0s;
        &:hover {
            background-color: $blue;
        }
    }

    .color-to {
        color: $white;
        transition: color ease-out .4s;
        .s0 {
            stroke: $white;
            transition: color ease-out .4s;
        }
        .s0_soc svg path {
            fill: $white;
            transition: fill ease-out .4s;
        }
        &:hover {
            color: $blue !important;
            .s0 {
                stroke: $blue;
            }

            .s0_soc svg path {
                fill: $blue;
            }
        }
    }
    .color-dark-to {
        .s0, svg path, svg circle, svg polyline, svg line  {
            stroke: $dark;
            transition: stroke ease-out .4s;
        }
        &:hover, .search-active & {
            color: $blue;
            .s0, svg path, svg circle, svg polyline, svg line  {
                stroke: $blue !important;
            }
        }
    }
}
.color-theme-red {
    .brand {
        background-color: $red;
        &--color-white {
            background: $red;
            color: $white;
        }
    }
    .brand-to {
        background-color: $white;
        transition: background-color .4s ease 0s;
        &:hover, &.active {
            background-color: $red;
        }
        &--hover-white {
            transition: color .4s ease 0s, background-color .4s ease 0s;
            &:hover {
                color: $white !important;
            }
        }
		&.upcoming-events__body {
			color: $dark;
		}
    }
    .brand-dark-to {
        background-color: $dark;
        transition: background-color .4s ease 0s;
        &:hover {
            background-color: $red;
        }
    }

    .color-to {
        color: $white;
        transition: color ease-out .4s;

        .s0 {
            stroke: $white;
            transition: stroke ease-out .4s;
        }
        .s0_soc svg path {
            fill: $white;
            transition: fill ease-out .4s;
        }

        &:hover {
            color: $red !important;
            .s0 {
                stroke: $red;
            }

            .s0_soc svg path {
                fill: $red;
            }
        }
    }
    .color-dark-to {
        .s0, svg path, svg circle, svg polyline, svg line  {
            stroke: $dark;
            transition: stroke ease-out .4s;
        }
        &:hover, .search-active & {
            color: $red;
            .s0, svg path, svg circle, svg polyline, svg line  {
                stroke: $red !important;
            }
        }
    }
}

[data-waypoint] {
    @include v-out(40px);
    &.js-inview {
        @include v-in(0, .6s);
    }
}
