$menu_move: cubic-bezier(.25,.11,.11,.82);

$xs:				480px;
$s:					768px;
$m:					970px;
$l:					1024px; 
$xl:				1280px;
$xxl:				1600px;

$content: 1280px; 

/* FONTS */

@ont-face("FontAwesome", "../fonts/fontawesome-webfont");
 @font-face {
 	font-family: "FontAwesome";
 }

$fa: 	'FontAwesome';
$def: "proxima-nova",sans-serif;
$proxima-b: 600;


/* COLORS */ 
$yellow: #fbe122;
$blue: #00a3e0;
$red: #e4002b;
$white: #fff;
$star: #ffcc33;
$border: #b7b7b7;
$dark: #333333;
$light: #3e3e3e;
$grey: #e1e1e1;
$grey-dark: #999999;
