.content {
	padding: 0 15px;
	max-width: $content;
	margin: auto;
	@include media(1300px) {
		padding: 0;
	}
	&_full-width {
		width: 100%;
	}
	.not-result {
		justify-content: center;
		display: flex;
		height: 35vh;
		align-items: center;
		p {
			font-size: 25px;
			line-height: 25px;
			font-weight: 700;
			color: $dark;
			text-transform: uppercase;
		}
	}
}
.c-two-column {
	&_text-left {
		flex-direction: row-reverse;
	}
	@include media($m) {
		display: flex;
	}
	&__item {
		@include media($m) {
			width: 50%;
		}
	}
}
