.title-row {
	background-color: $grey;
	overflow: hidden;
	height: 65px;
	&_light {
		background-color: $white;
	}
	&_heading {
		text-align: center;
		.content h2 {
			font-weight: 700;
		}
	}
	@include media($s) {
		height: 91px;
	}
	.content {
		display: flex;
		justify-content: space-between;
		position: relative;
		height: 100%;
		//overflow: hidden;
	}
	h2 {
		color: $dark;
		//font-size: 12px;
		font-size: 15px;
		font-weight: $proxima-b;
		@include center(absolute, vertical);
		text-transform: uppercase;
		width: 50%;
		//@include media($xs) {
		//	font-size: 15px;
		//}
		@include media($s) {
			width: 100%;
			font-size: 30px;
		}
		span {
			text-transform: none;
			display: block;
			font-weight: 300;
			font-size: 10px;
			@include media($xs) {
				font-size: 12px;
			}
			@include media($s) {
				font-size: 16px;
			}
		}
	}
	a {
		color: $white;
		font-size: 13px;
		right: 15px;
		font-weight: $proxima-b;
		height: 66px;
		line-height: 66px;
		text-transform: uppercase;
		@include center(absolute, vertical);
		z-index: 1;
		//@include media($xs) {
		//	font-size: 13px;
		//}
		@include media($s) {
			font-size: 15px;
			height: 91px;
			line-height: 91px;
			padding-right: 50px;
		}
		@include media(1280px) {
		    padding-right: 0;
			right: 0;
		}
		&:before {
			content:'';
			background-color: inherit;
			position: absolute;
			left: -35px;
			top: -1px;
			width: 1000px;
			height: 102%;
			z-index: -1;
			transform: skew(-35deg);
			@include media($s) {
				left: -70px;
			}
		}
	}
	&_dark {
		background-color: #3e3e3e;
		border-bottom: 1px solid #666666;
		h2 {
			color: $white;
		}
		a {
			color: $dark;
			transition: background-color .4s ease 0s;
			&:hover {
				background-color: $white;
			}
		}
	}
}
.product-title {
	padding-top: 36px;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
	@include media($s) {
		padding-top: 58px;
		font-size: 36px;
	}
}